
    <div class="logo">
            <div class="logo-normal">
                <a href="#" class="simple-text">统一视图</a>
            </div>
            <div class="logo-img">
                <img src="/assets/img/hardware.png"/>
            </div>
        </div>
        <div class="sidebar-wrapper">
            <div class="user">
                <div class="photo">
                    <img src="../assets/img/faces/小人.png" />
                </div>
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                        <span>
                             刘云
                            <b class="caret"></b>
                        </span>
                    </a>
                    <div class="collapse" id="collapseExample">
                        <ul class="nav">
                            <li>
                                <a href="javascript:void(0)">
                                    <span class="sidebar-normal">退出登录</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="nav-container">
                <ul class="nav">
                    <li routerLinkActive="active">
                        <a  [routerLink]="[menuItems[0].path]">
                            <i class="{{menuItems[0].icon}}">dashboard</i>
                            <p>硬件视图</p>
                        </a>
                    </li>
                    <li routerLinkActive="active">
                        <a  [routerLink]="[menuItems[20].path]">
                            <i class="{{menuItems[20].icon}}">widgets</i>
                            <p>应用视图</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
